# Ignore the virtual environment
venv/
__pycache__/
*.pyc

# Ignore output logs and models (they are too big)
logs/
models/
plots/
*.json

# Unit tests/ experimental scripts
unit_tests/successful_run_test.py
