# Ignore the virtual environment
venv/
__pycache__/
*.pyc

# Ignore output logs and models (they are too big)
experiments/
.misc/
logs/
models/
plots/
*.json
# This script is overwritten by the LLMs everytime so changes every run
reward_shaping.py 
# Unit tests/ experimental or temp scripts
unit_tests/successful_run_test.py
*_experimental.py
*_experimental.sh
*_old.py
inspect_model.py
sandbox.ipynb

